.search-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 36px;
  max-width: 433px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #E8E8E8;
  background: #ffffff;
  border-radius: 3px;
}

.search-input {
  border: 0px;
  width: 90%;
}

.search-container{
  margin: auto;
}

@media only screen and (max-width: 290px) {
  .search-input {
    border: 0px;
    width: 80%;
  }
}

@media only screen and (max-width: 170px) {
  .search-input {
    border: 0px;
    width: 70%;
  }
}

input:focus{
  outline: none;
}
.search-img {
  float: right;
}